body{
  background-color: #e0e0db;
}

#top-of-page{
  height: .3rem;
  background-color: #ff652f;
}

#nav-logo {
  width: 110px;
  height: 105px;
}

.navbar {
  background-color: #e0e0db;
}

#bottom-of-page{
  height: .3rem;
  background-color: #ff652f;
}

#main-footer {
  background-color: #343a40;
  float: left;
}

#active {
  color: black;
}
